@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container {
	height: 100vh;
	width: 100%;
	background: linear-gradient(to right, #0084ff 0%, #084892 100%);
	font-family: 'Roboto', sans-serif;
}

.timer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 6rem;
	font-weight: 700;
    text-align: center;
}


button {
	border: none;
	font-family: inherit;
	font-size: 3rem;
	color: inherit;
	background: transparent;
	border: 3px solid #fff;
	cursor: pointer;
	padding: 15px 30px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	display: flex;
  	align-items: center;
	transition: all 0.3s;
}

button:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.icon {
	vertical-align: middle;
	font-size: 3rem;
	margin-right: 10px;
}